body {
    overflow: hidden;
    font-size: 16px;
}

.chart-wrapper {
    width: 100%;
    height: 100%;
    background-color: #262626;
    position: absolute;
}

path {
    stroke: #262626;
    /* stroke-width: 5px; */
    cursor: pointer;
    transition: fill 250ms;
}

path:hover {
    /* stroke-width: 10px; */
    fill: #77f442;
}

text {
    font-family: 'Oswald', sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

polyline {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 2px;
}

button {
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px 10px;
    outline: none;
    font-size: 0.6em;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    letter-spacing: 1px;
    transition: all 250ms;
}

button:hover {
    background-color: #fff;
    color: #262626;
    box-shadow: 0 0 2px #fff;
}

button:active {
    opacity: 0.25;
}
